requests==2.22.0
enum34==1.1.6
configparser==3.7.4
flake8==3.7.8
pycodestyle==2.5.0
pyflakes==1.6.0
urllib3==1.22
chardet==3.0.4
certifi==2018.4.16
cryptography==2.2.2
pyOpenSSL==18.0.0
asn1crypto==0.24.0  # for pyOpenSSL
cffi==1.11.5  # for pyOpenSSL
idna==2.6