requests==2.22.0
enum34==1.1.6
configparser==3.7.4
flake8==3.7.8
pycodestyle==2.5.0
pyflakes==2.1.1
urllib3==1.25.3
chardet==3.0.4
certifi==2019.6.16
cryptography==2.7
pyOpenSSL==19.0.0
asn1crypto==0.24.0  # for pyOpenSSL
cffi==1.12.3  # for pyOpenSSL
idna==2.6